.Modal{
    position: absolute;
    width: 434px;
    height: 656px;
    background: #FFFCFC;
    opacity: 97.5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.menuName{
    font-size: 14px;
    font-weight: 550;
    margin-top: 27px;
    width: 336px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}
.decideSetBox{
    display: flex;
    flex-direction: column;
    align-items:center ;
}
.decideContainer{
    width:434px;
    height: 230px;
    display: flex;
    justify-content: center;
}
.Set_decide{
    box-sizing: border-box;
    width: 152px;
    height: 200px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin : 0 5px;
}

.Set_decide:active{
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.35);
    background: #D9D9D9;
    opacity: 80%;
}

.cancelBox{
    box-sizing: border-box;
    width: 319px;
    height: 32px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.littleModal{
    box-sizing: border-box;
    width: 262px;
    height: 372px;
    margin:  100px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.nutri{
    box-sizing: border-box;
    width: 112px;
    height: 24px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-size: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PlusMinusWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Minus{
    box-sizing: border-box;
    width: 32px;
    height: 31px;
    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;
}
.Number{
    box-sizing: border-box;
    width: 151px;
    height: 31px;
    background: #FFFFFF;
    border: 2px solid #CCCCC9;
}
.Plus{
    box-sizing: border-box;
    width: 32px;
    height: 31px;
    background: #FFFFFF;
    border: 2px solid #CCCCC9;
    border-radius: 0px 5px 5px 0px;
    border-style: solid solid solid none;
}
.Add{
    box-sizing: border-box;
    width: 262px;
    height: 56px;
    left: 593px;
    top: 494px;
    background: #FFBC0D;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 3px 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
}

.headerContainer{
    margin-top: 10px;
    width :434px;
    display: flex;
    margin-bottom: 15px;
}

.NameAndCalBox{
    margin-top: 20px;
    width:320px;
    text-align: left;
    font-size: 16px;
}

.nutriBox{
    box-sizing: border-box;
    width: 120px;
    height: 24px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 12px;
    color: #000000;
    margin-right:20px;
    margin-left:2px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    font-weight:500;
}

.SelectingBox{
    width:300px;
    height: 485px;
    margin-left: 110px;
    margin-top: 30px;
    display:flex;
}
.orderFlowBox{
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    font-size: 10px;
    left:0;
    top:72px;
}
.flowBox{
    box-sizing: border-box;
    width:90px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
