.Modal{
    position: absolute;
    width: 434px;
    height: 656px;
    background: #FFFCFC;
    opacity: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.decideContainer{
    display: flex;
}
.Set_decide{
    box-sizing: border-box;
    width: 152px;
    height: 200px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.cancelBox{
    box-sizing: border-box;
    width: 319px;
    height: 32px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}