.footer_box2{
    display:flex;
    height :100px;
    width: 434px;
    background: #FFFFFF;
    justify-content:space-around;
    align-items: flex-end;
    position: relative;
}

.priceBox{
    width:260px;
    height :35px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quantity{
    font-size: 0.5rem;
    color: #FFFFFF;
    position :absolute;
    left :187.5px;
    bottom :75.5px;

}

.price{
    width :70px;
    height: 22px;
    margin-top: 5px;
    text-align: left;
    align-items: flex-end;
}

.orderChkBtn{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 27px;
    background: #FFCC00;
    border: 0.8px solid #FFD851;
    border-radius: 3px;
    font-size: 7px;
    opacity: 25%;
}

.footer_btns2{
    width: 260px;
    height :86px;
}

.back_btns2{
    margin-bottom: 3px;
    display: flex;
    justify-content:space-between;
    width :260px;
    height:20px;
}

.back_btn{
    width: 126px;
    height: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-size:8px;
}
