.footer_box2{
    display:flex;
    height :100px;
    width: 434px;
    background: #FFFFFF;
    justify-content:space-around;
    align-items: flex-end;
    position: relative;
}

.price{
    width:260px;
    display: flex;
    margin-bottom: 5px;
}

.orderChkBtn{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 27px;
    background: rgba(255, 200, 4, 0.5);
    border-radius: 3px;
    font-size:10px;
}

.footer_btns{
    width: 260px;
    height :76px;
}

.back_btns2{
    margin-bottom: 3px;
    display: flex;
    justify-content:space-between;
    width :260px;
    height:20px;
}

.back_btn{
    width: 126px;
    height: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-size:8px;
}
